<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>0
  {{>navbar}}
   {{!-- hero section stat --}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
  <div class="row">
    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-start align-items-start flex-column">
 <h1> WE WILL HELP YOU TO</h1>
 <H1>GROW YOUR BUSINESS</H1>
 <p>We Are The Team Of  <span class="bold-style">Professional Developer</span></p>
 <button class="btn-style btn-primary">Readmore</button>
    </div>
    {{!-- right side--}}
    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
      <figure>
        <img src="images/growth.svg" alt="herosection_image">
      </figure>
    </div>
  </div>
      </div>
    </div>
  </div>
{{!-- hero sectio ends --}}


{{!-- about us start --}}
 {{>about}}
{{!-- about us end --}}


{{!-- service start --}}
 {{>service}}
{{!-- service end --}}

{{!--  maps start --}}
 {{>maps}}
{{!-- maps end --}}

{{!-- contact start --}}
 {{>contact}}
{{!-- contact end --}}

  <script src="../jq/jquery.js" type="text/javascrip></script>
  <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>