 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
  <div class="row">
      <div class="col-md-6 col-12 hero-text ">
      <figure>
        <img src="images/about.svg" alt="herosection_image">
      </figure>
    </div>
    
    {{!-- right side--}}
  <div class="col-md-6 col-12 hero-text  d-flex justify-content-start align-items-start flex-column">
 <H1>WE ARE THE PROFESSIONAL DEVELOPER</H1>
 <P>Welcome To <span class="bold-style">My website</span>. Your Number One Source For All Things. 
  We're Dedicated To Giving You The Very Best Of Work, With A Focus On [These
  Characteristics.Ie: Dependability Customer Service And Uniqueness.]
 </P>
 
 <button class="btn-style btn-primary">Readmore</button>
    </div>
  </div>
      </div>
    </div>
  </div>