<section> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.4056132206306!2d83.43093891484861!3d26.731429483206053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39915ca3e2aa136b%3A0xc039bdf0211338a9!2sMadan%20Mohan%20Malaviya%20University%20Of%20Technology!5e0!3m2!1sen!2sin!4v1671097660607!5m2!1sen!2sin" 
width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
referrerpolicy="no-referrer-when-downgrade"></iframe></section>